/* Login Page Specific Styles */
/* Shared layout and components are in auth_shared.css */

.body-login .login-right {
    background: url('../images/9918.png') no-repeat center center/cover;
}

/* Abstract Shapes for Login */
.graphic-circle {
    position: absolute;
    border-radius: 50%;
}

.circle-1 {
    width: 400px;
    height: 400px;
    top: -100px;
    right: -50px;
    background: linear-gradient(to bottom, #ff79ea, #e056fd);
    opacity: 0.8;
}

.circle-2 {
    width: 500px;
    height: 500px;
    bottom: -150px;
    left: -150px;
    background: linear-gradient(45deg, #5300e8, #686de0);
    opacity: 0.8;
}

.graphic-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), transparent);
}